<!DOCTYPE html>
<html>
<head>
  <title>TodoList</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= include_quick_script_views 'app/assets/views' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= include_view_box %>
  <%= include_quick_script_init 'AppView' %>

</body>
</html>
